.container {
    width: 100vw;
    max-width: 100%;
    height: 612px;
    background-color: #D7DBFF;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    position: relative;
}



.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.titleAbout {
    text-align: center;
    font-family: "Candal";
    font-size: 36px;
    letter-spacing: 2px;
}

.paragraph {
    width: 650px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

.imageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 390px;
    height: 390px;
    object-fit: cover;
    border-radius: 200%;
    background-color: #fff;
    border: 2px solid #000000;
}

.aboutButton {
    background: none;
    border: none;
    background-color: #fff;
    padding: 14px 8px;
    border-radius: 20px;
    font-family: 'Candal';
    font-weight: 600;
    font-size: 1em;
    border: 2px solid #000000;
    transition:  background .2s;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.aboutButton:hover{
    background-color: #eee;
}

.skew {
    width: 100vw;
    max-width: 100%;
    height: 100px;
    top: -1px;
    position: absolute;
    background:#ffffff;
    bottom: -1px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.skew2 {
    width: 100vw;
    max-width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
    background:#ffffff;
    bottom: -1px;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
}

@media only screen and (max-width: 800px) {
    
    .container {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 3.2em;
        height: 712px;
    }

    .titleAbout {
        font-size: 20px;
    }

    .paragraph {
        font-size: 18px;
        width: 80%;
        min-width: 360px;
        text-align: center;
    }

    .imageContainer {
        max-width: 80%;
        height: 40%;
    }

    .textContainer {
        gap: 15px;
        width: 80%;
    }

    .image {
        width: 250px;
        height: 250px;
    }
    .skew{
        height: 30px;
    }
    .skew2{
        height: 30px;
    }
}



@font-face {
    font-family: "Candal";
    src: url(../../Fonts/Candal-Regular.ttf);
}

@font-face {
    font-family: "Sansation";
    src: url(../../Fonts/Sansation_Light.ttf);
}