.nav {
    height: 60px;
    width: 100vw;
    background: rgb(37,179,233);
    background: linear-gradient(90deg, #25b3e9 0%, #310e92 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

.logoLink {
    text-decoration: none;
}

.logo {
    margin: 0;
    color: #fff;
    font-family: "CormorantSC";
    letter-spacing: 2px;
    font-size: 2em;
    user-select: none;
}

.linkList {
    margin: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #206fca;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    padding: 12px;
    border-radius: 1em;
    transition: background .4s;
}

.linkList:hover {
    background-color: rgb(26, 89, 160);
}

.subtitle {
    background-color: #bcc2dd;
    text-align: center;
    max-width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    top: 60px;
}




.containerMenu {
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50%;
    height: 120%;
    background: linear-gradient(90deg, rgba(37,179,233,1) 0%, rgba(37,102,233,1)100%);
    transform: translateX(-100%);
    position: fixed;
    z-index: 100;
}

@font-face {
    font-family: "CormorantSC";
    src: url("../../Fonts/CormorantSC-Light.ttf");
}

@font-face {
    font-family: "Great Vibes";
    src: url("../../Fonts/GreatVibes-Regular.ttf");
}


@media only screen and (max-width: 800px) {
    .nav{
        height: 50px;
        flex-direction: row-reverse;
        padding: 8px;
    }

    .logo{
        font-size: 1.5em;
    }
    .linkList{
        display: none;
    }
    .movilMenuImg{
        width: 35px;
    }
    .movilButton, .movilButtonOpen{
        background: none;
        border: none;
        padding: 0;
        margin-left: 12px;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25px;
        height: 25px;
    }

    .listContainer {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .burgerMenuLine {
        background-color: #fff;
        height: 2px;
        margin: 2px 0;
        transition: transform 0.3s ease;
        width: 100%;
    }
    .movilButtonOpen .burgerMenuLine:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      
      .movilButtonOpen .burgerMenuLine:nth-child(2) {
        opacity: 0;
      }
      
      .movilButtonOpen .burgerMenuLine:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -4px);
      }

    .containerMenuActive {
        transition: all .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 50%;
        height: 120%;
        background: rgb(37,179,233);
        background: linear-gradient(90deg, rgba(37,179,233,1) 0%, rgba(37,102,233,1)100%);
        position: fixed;
        z-index: 100;
    }
    
    .movilListMenu {
        list-style: none;
        padding: 0;
        height: 100%;
    }

    .movilListMenu li {
        display: flex;
        margin-bottom: 2em;
    }

    .movilLink {
        color: #fff;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 12px;
    }

    .iconMenu {
        object-fit: contain;
    }

    .subtitle {
        top: 50px;
    }

}